*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.header {
  background-color: white;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 10px;
  height: 45px;
  overflow: hidden;
}
.header .nav{
  width: 70%;
  display: flex;
  justify-content: space-between;
}

.header .nav ul{
  width: 400px;
  display: flex;
  justify-content: space-around;
}

.header .logo {
  font-size: 30px;
  font-weight: bold;
  margin-right: auto;
}

.header .nav {
  display: flex;
  align-items: center;
  font-size: large;
}

.header .nav a {
  color: #000;
  text-decoration: none;
  margin-left: 10px;
}

.header .nav a:first-child {
  margin-left: 10;
}

.header .nav a:hover {
  text-decoration: solid;
  color: skyblue;

}

.home-page {
  max-width: 800px;
  margin: 0 auto;
  padding: 15px;
}

.home-page h2 {
  font-size: 25px;
  margin-bottom: 15px;
  text-align: center;
}
